<!DOCTYPE html>
<html>

<head>

  {% if title %}
    <title>{{ title }}</title>
  {% else %}
    <title>MyApp</title>
  {% endif %}

  <meta charset="utf-8" />
  <meta http-equiv="content-language" content="eng" />
  <meta name="keywords" content="html, css, javascript, python" />
  <meta name="distribution" content="global" />
  <meta name="author" content="JoshGoA" />

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Alata&display=swap" />
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scss/main.css') }}" />

</head>

<body onload="setSize()" onresize="setSize()" onmousedown="setPosition(event)">

  <!-- Wave background -->
  <div class="wave-wrapper-outer">
    <div class="wave-wrapper-inner bg-top">
      <div class="wave wave-top" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
    </div>
    <div class="wave-wrapper-inner bg-middle">
      <div class="wave wave-middle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="wave-wrapper-inner bg-bottom">
      <div class="wave wave-bottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
  </div>

  <!-- Canvas message -->
  {% if cnv_msg %}
    <strong>{{ cnv_msg }}</strong>
  {% endif %}
  <!-- Bounding box -->
  <div class="box-wrapper"></div>
  <!-- Canvas sketch -->
  <canvas id="sketch" onmousedown="$('.box-wrapper').html('');$('strong').fadeOut(250);" onmousemove="draw(event)"></canvas>

  <!-- Display buttons -->
  <div class="display-wrapper">
    <button onclick="post()">
      Predict
      <div class="load-wrapper" hidden>
        <h1 class="dot">Loading</h1>
        <h1 class="dot one">.</h1>
        <h1 class="dot two">.</h1>
        <h1 class="dot three">.</h1>
      </div>
    </button>
    <button onclick="setSize()">Clear</button>
  </div>
  <!-- Mode selector -->
  <div class="mode-wrapper">
    <a id="brush">
      Brush&ensp;&nbsp;<i class="fa fa-paint-brush"></i>
    </a>
    <a id="eraser" style="display: none;">
      Eraser&ensp;<i class="fa fa-eraser"></i>
    </a>
  </div>

  <!-- Circular menu -->
  <div id="menu" class="menu-wrapper">
    <a class="floating-btn" onclick="document.getElementById('menu').classList.toggle('active');">
      <i class="fa fa-bars"></i>
    </a>
    <menu class="item-wrapper">
      <a href="/model/data/" class="menu-item fa fa-database" title="Data"></a>
      <a href="/model/" class="menu-item fa fa-gears" title="Configure"></a>
      <a href="/info/" class="menu-item fa fa-info" title="Info"></a>
    </menu>
  </div>

  <!-- Popup message -->
  <div class="popup-wrapper">
    <p class="popup">
      <i>
        Check me out on &nbsp;
        <a href="https://github.com/JoshGoA" class="fa fa-github"></a><br>
      </i>
      {% if title %}
        <span>{{ title }}</span>
      {% else %}
        <span>MyApp</span>
      {% endif %}
    </p>
  </div>
  <i class="fa fa-caret-up popup-button" title="Toggle" onclick="pop()"></i>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
