@import "partials/display";
@import "partials/load";
@import "partials/menu";
@import "partials/mode";
@import "partials/popup";
@import "partials/wave";

@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");


body {
  font-family: "Alata", sans-serif;
  user-select: none;
  margin: 0;
  overflow: hidden;
}

button, .menu-item {
  border: none;
  outline: none !important;
  cursor: pointer;

  &::-moz-focus-inner {
    border: 0 !important;
  }
}

.wave-wrapper-outer {
  z-index: -2;
}
canvas, strong {
  z-index: -1;
}
.shift-wrapper, .display-wrapper {
  z-index: 0;
}
.menu-wrapper {
  z-index: 1;
}
.popup-wrapper, .popup-button {
  z-index: 2;
}
