strong {
  position: absolute;
  width: 100%;
  top: 60%; left: 0;
  font-size: 25px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
}

canvas {
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  cursor: crosshair;
}

.display-wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  top: 10%;
  justify-content: center;

  button {
    width: 100px; height: 35px;
    margin: 0 20px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;

    &:nth-child(1) {
      background-color: #16a085;

      &:hover, &:active {
        background-color: #10826B;
      }
    }

    &:nth-child(2) {
      background-color: #e74c3c;

      &:hover, &:active {
        background-color: #c0392b;
      }
    }
  }
}
